# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py
sudo: required

services:
  - docker

script:
  - export IMAGE=vrutkovs/riot-nginx
  - export RIOT_VERSION=v0.15.5
  - if [[ "$TRAVIS_PULL_REQUEST" == "true" ]]; then exit 0; fi
  - docker build --build-arg RIOT_VERSION=$RIOT_VERSION -t $IMAGE .
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push $IMAGE:latest
  - docker tag $IMAGE:latest $IMAGE:$RIOT_VERSION
  - docker push $IMAGE:$RIOT_VERSION
